@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', cursive;
}

p {
  font-family: 'Open Sans', sans-serif;
}

p.text-primary {
  color: #ffb548 !important;
}

table,
tr,
td {
  border: 1px solid #979797;
}

.bg-image {
  display: block;
  height: 65px;
  width: 65px;

  -moz-border-radius: 50%;
  border-radius: 50%;

  background-color: #ffb548;
}

.image-custom {
  position: relative;
  top: -4px;
  left: -4px;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

nav {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1040;
}

.nav-link.text-secondary {
  font-size: 12px;
}

.nav-link.text-white {
  font-size: 12px;
}

.cover {
  height: 100vh;
  background: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    url('../images/main-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery {
  height: 100vh;
  background: radial-gradient(
      136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 60.63%,
      #080a0b 99.74%
    ),
    url('../images/the-games-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.features {
  background: radial-gradient(
      51.1% 80.48% at 30.85% 53.65%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 19.2%,
      rgba(4, 5, 6, 0.520671) 47.48%,
      #080a0b 99.74%
    ),
    url('../images/features.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.requirement {
  background: radial-gradient(
      33.26% 45% at 64.32% 47.1%,
      rgba(255, 255, 255, 0) 3.36%,
      rgba(0, 0, 0, 0) 19.22%,
      #080a0b 99.74%
    ),
    url('../images/requirements.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.top-score {
  background: radial-gradient(
      70.52% 37.27% at 24.21% 47.47%,
      rgba(35, 15, 15, 0) 0%,
      rgba(0, 0, 0, 0) 51.1%,
      #080a0b 99.74%
    ),
    url('../images/top-score-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter {
  background: #080a0c;
}

footer {
  background: #080a0c;
}

.features-image-overlay {
  background: radial-gradient(
    45.43% 53.19% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 46.15%,
    #080a0b 99.74%
  );
  position: absolute;
  height: 100%;
  width: 100%;
}

.form-control::placeholder {
  color: #ffb548;
  opacity: 1;
}

.form-control:focus {
  border-color: #ffb548;
  box-shadow: 0 0 0 0.2rem rgba(243, 181, 38, 0.274);
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #ffffff;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  min-height: 60%;
  max-height: 70%;
  z-index: 400;
}
ul.timeline > li.active {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li.active:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

ul.timeline > li.inactive {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li.inactive:before {
  content: ' ';
  background: #080a0b;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #ffffff;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
