.games {
  height: 100vh;
  background: #9c835f;
}

.header-text {
  color: #f9b23d;
}

img.active {
  background: #c4c4c4;
  border-radius: 30px;
}

#result {
  border-radius: 10px;
}

.transform-result {
  -ms-transform: rotate(-20deg); /* IE 9 */
  transform: rotate(-20deg);
}

img.player:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

img#refresh:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
